/* ------------>>>> HERO <<<<------------ */

.hero {
	margin-bottom: 104px;
}

.hero__container {
	min-height: 620px;
	width: 100%;
	background-image: url(../../img/main/hero/01_Balconies.jpg);
	background-repeat: no-repeat;
	background-position: center;
}

.hero__wrapper {
	display: flex;
	max-width: 900px;
	flex-direction: column;
	padding: 105px 0 0 80px;
}

.hero__title {
	display: block;
	margin-bottom: 20px;
	font-weight: 800;
	font-size: 70px;
	line-height: 85px;
	color: var(--white-color);
}

.hero__txt {
	display: block;
	margin-bottom: 88px;
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
	color: var(--white-color);
}

.hero__btn {
	width: 280px;
	height: 78px;
	padding-top: 2px;
}

.hero__btn:hover,
.hero__btn:focus {
	outline: none;
	background-color: var(--orange-hover--color);
}

.hero__btn:active {
	outline: none;
	background-color: var(--orange-black--color);
}

/* ------------>>>> ABOUT US <<<<------------ */

.about {
	margin-bottom: 103px;
}

.about__title {
	margin-bottom: 19px;
}

.about__txt {
	display: block;
	max-width: 1235px;
	margin-bottom: 49px;
}

.about-wrapper {
	display: flex;
	justify-content: space-between;
	max-height: 622px;
}

.about-wrapper__banner--left {
	display: flex;
	flex-direction: column;
	justify-content: end;
	width: 49.1%;
	height: 622px;
	background-image: url("../../img/main/about/man.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.about-wrapper__bottom-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 196px;
	padding: 50px 51px 50px 50px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.about-wrapper__txt--white {
	display: block;
	max-width: 454px;
	font-weight: 700;
	font-size: 16px;
	line-height: 32px;
	color: var(--white-color);
}

.about-wrapper__btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 175px;
	height: 60px;
	border: 3px solid var(--orange--color);
	font-weight: 700;
	font-size: 16px;
	line-height: 32px;
	color: var(--white-color);
}

.about-wrapper__btn:hover,
.about-wrapper__btn:focus {
	outline: none;
	background-color: var(--orange--color);
}

.about-wrapper__btn:active {
	outline: none;
	background-color: var(--orange-black--color);
}

.about-wrapper__banner--right {
	display: flex;
	flex-direction: column;
	width: 49.1%;
}

.about-container {
	display: flex;
	align-items: center;
	height: 100%;
	border: 1px solid var(--gray--color);
	padding: 62px 58px;
}

.about-container--top {
	margin-bottom: 32px;
}

.about-container__img {
	width: 190px;
	height: 165px;
	margin-right: 50px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.about-container__img--top {
	background-image: url(../../img/main/about/kub.png);
}

.about-container__img--bottom {
	background-image: url(../../img/main/about/shest.png);
}

.about-container-box__title {
	margin-bottom: 9px;
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
}

.about-container-box__descr {
	max-width: 450px;
}

/* ------------>>>> JOB <<<<------------ */

.job {
	margin-bottom: 104px;
}

.job-step {
	display: flex;
	margin-bottom: 44px;
}

.job__title {
	margin-bottom: 44px;
}

.job-step__item {
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
}

.job-step__item:not(:last-child) {
	margin-right: 86px;
}

.job-step__link {
	display: block;
	padding: 3px 0 3px 0;
}

.job-step__link:hover {
	color: var(--orange--color);
}

.job-step__link:focus {
	outline: 2px solid var(--orange--color);
}

.job-step__link:active {
	outline: none;
	color: var(--orange-black--color);
}

.job-content {
	display: flex;
	justify-content: space-between;
	height: 468px;
}

.job-content__left {
	width: 43%;
}

.job-content__title {
	font-weight: 700;
	font-size: 24px;
	line-height: 32px;
	margin-bottom: 8px;
}

.job-content__right {
	position: relative;
	width: 49.2%;
}

.job-content__right::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 99%;
	background-image: url(../../img/main/job/step_1.jpg);
	background-position: center;
	background-size: cover;
	top: 8px;
	right: 0;
}

.job-content__descr {
	display: block;
	margin-bottom: 48px;
	color: var(--black-gray--color);
}

.job-content__box-link {
	display: flex;
}

.job-content__link-detailed {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 175px;
	height: 60px;
	margin-right: 32px;
	background-color: var(--orange--color);
	color: var(--white-color);
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
}

.job-content__link-detailed:hover,
.job-content__link-detailed:focus {
	outline:none;
	background-color: var(--orange-hover-two--color);
}

.job-content__link-detailed:active {
	outline: none;
	background-color: var(--orange-black--color);
}

.job-content__link-contract {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 147px;
	height: 60px;
	border: 1px solid var(--black-gray--color);
	font-size: 16px;
	line-height: 20px;
}

.job-content__link-contract:hover,
.job-content__link-contract:focus {
	outline: none;
	background-color: var(--gray-high--color);
	color: var(--white-color);
	border: none;
}

.job-content__link-contract:active {
	outline: none;
	background-color: var(--black-high--color);
	color: var(--white-color);
}

/* ------------>>>> QUESTION <<<<------------ */

.question {
	margin-bottom: 99px;
}

.question__title {
	margin-bottom: 40px;
}

.question-list__title {
	font-weight: 700;
	font-size: 24px;
	line-height: 32px;
}

.question-list {
	display: flex;
	flex-direction: column;
	min-height: 558px;
}

.question-list__item-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex: 1 1 100%;
	min-height: 20%;
	border-top: 1px solid var(--gray--color);
}

.question-list__item-box:hover,
.question-list__item-box:focus {
	color: var(--orange--color);
}

.question-list__item-box:last-child {
	border-bottom: 1px solid var(--gray--color);
}

.question-list__item-box:hover,
.question-list__item-box:hover + li,
.question-list__item-box:focus,
.question-list__item-box:focus + li {
	outline: none;
	border-top: 1px solid var(--orange--color);
}

.question-list__item-box:last-child:hover,
.question-list__item-box:last-child:focus {
	border-bottom: 1px solid var(--orange--color);
}

.question-list__item-box:hover .question-list__btn svg ellipse,
.question-list__item-box:focus .question-list__btn svg ellipse {
	fill: var(--orange--color);
}

.question-list__item-box:hover .question-list__btn svg path,
.question-list__item-box:focus .question-list__btn svg path {
	fill: var(--white-color);
}

.question-list__item-box:active svg{
	transform: rotate(45deg);
}

.question-list__item-box:active,
.question-list__item-box:active + li {
	border-top: 1px solid var(--gray--color);
	color: var(--black-high--color);
}

.question-list__item-box:last-child:active {
	border-bottom: 1px solid var(--gray--color);
}

.question-list__item-box:active .question-list__btn svg ellipse {
	fill: #ececec;
}

.question-list__item-box:active .question-list__btn svg path {
	fill: var(--black-high--color);
}
