/* ------------>>>> FOOTER <<<<------------ */

.footer {
	min-height: 594px;
	background-color: var(--black--color);
}

.footer__container {
	display: flex;
	justify-content: space-between;
	padding-top: 50px;
}

.footer-box__left {
	min-width: 255px;
	margin-right: 110px;
}

.footer-box__middle {
	max-width: 570px;
	width: 100%;
	display: flex;
	flex-direction: column;
	padding-top: 2px;
}

.footer-box__right {
	max-width: 362px;
	padding-top: 87px;
}

.footer__logo-link {
	display: block;
	margin-bottom: 16px;
}

.footer-menu {
	margin-bottom: 90px;
}

.footer-menu__item {
	font-weight: 600;
	font-size: 18px;
	line-height: 36px;
	color:var(--gray--color);
}

.footer-social__link:not(:last-child){
	margin-right: 21px;
}

.footer-form__title {
	margin-bottom: 22px;
	font-weight: 400;
	font-size: 48px;
	line-height: 58px;
	color:var(--gray--color);
}

.footer-form__input {
	height: 60px;
	padding-left: 24px;
	padding-top: 8px;
	background-color: var(--mid-gray--color);
	color: var(--gray--color);
	border: none;
}

.footer-form__textarea {
	height: 150px;
	background-color: var(--mid-gray--color);
	color: var(--gray--color);
	border: none;
	padding-left: 24px;
	padding-top: 24px;
}

.footer-form__input {
	margin-bottom: 25px;
}

.footer-form__textarea {
	margin-bottom: 33px;
}

.footer-form__box {
	display: flex;
	flex-direction: column;
}

.footer-form__btn-box {
	display: flex;
	align-items: center;
}

.footer-form__btn {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 269px;
	width: 100%;
	height: 60px;
	margin-right: 22px;
	background-color: var(--orange--color);
	color: var(--white-color);
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
}

.footer-form__check {
	margin-right: 4px;
}

.footer-form__check-label {
	font-weight: 400;
	font-size: 16px;
	line-height: 32px;
	color: var(--gray--color);
}

.footer-descr {
	font-weight: 400;
	font-size: 16px;
	line-height: 32px;
	color: var(--gray--color);
}
