.site-container {
	overflow: hidden;
}

.container {
	max-width: 1870px;
	padding: 0 50px;
	margin: 0 auto;
}

.title-regular {
	font-weight: 400;
	font-size: 48px;
	line-height: 58px;
	margin-bottom: 19px;
}

.txt-regular {
	font-weight: 400;
	font-size: 16px;
	line-height: 32px;
}
