:root {
	--white-color: #ffffff;
	--orange--color: #FF9900;
	--orange-black--color: #E1670E;
	--orange-hover--color: #ff9900c5;
	--orange-hover-two--color: #F7B045;
	--gray--color: #CACACA;
	--gray-high--color: #666666;
	--mid-gray--color: #414141;
	--black-gray--color: #333333;
	--black--color: #222222;
	--black-high--color: #000000;
}
